# Dependencies
node_modules
typings

# Build
index.js
src/*.js
styles/**/*.css
demo/*.js

# Log files
*.log
undefinederror.json
undefinedinfo.json
info.log.json
error.log.json

# Editor settings
*.sublime-workspace
*.sublime-project

# Development files
*.todo
*.old
*.temp
*.TMP
