# Dependencies
/node_modules
/typings

# Development
/index.ts
/src/**/*.ts
!/src/**/*.d.ts

# Build process and CI
/gulp-tasks
/.nvmrc
/.sass-lint.yml
/.travis.yml
/browserlist
/gulpfile.js
/tsconfig.json
/tslint.json
/typings.json

# Demo
/demo

# Log files
/npm-debug.log
*.log

# Editor settings
*.sublime-workspace
*.sublime-project

# Development files
*.todo
*.old
*.temp
*.TMP
