# Dependencies
node_modules
typings

# Log files
*.log
npm-debug.log
undefinederror.json
undefinedinfo.json
info.log.json
error.log.json

# Editor settings
*.sublime-workspace
*.sublime-project

# Development files
*.todo
*.old
*.temp
*.TMP
