<h1>angular2-notifier: Demo</h1>

<h2>Show notifications</h2>
<button class="button button--primary" type="button" (click)="show( 'default' )">Default me!</button>
<button class="button button--primary" type="button" (click)="show( 'info' )">Info me!</button>
<button class="button button--primary" type="button" (click)="show( 'success' )">Success me!</button>
<button class="button button--primary" type="button" (click)="show( 'warning' )">Warning me!</button>
<button class="button button--primary" type="button" (click)="show( 'error' )">Error me!</button>

<h2>Clear notifications</h2>
<button class="button button--secondary" type="button" (click)="clearAll()">Clear all notifications!</button>
<button class="button button--secondary" type="button" (click)="clearNewest()">Clear newest notification!</button>
<button class="button button--secondary" type="button" (click)="clearOldest()">Clear oldest notification!</button>
